version: 1.X-{branch}-{build}

skip_commits:
  message: /\[skip ci\]/

environment:
  elixir_version: 1.4.2

install:
  - cinst elixir --version %elixir_version%
  - refreshenv

build_script:
  - mix local.hex --force
  - mix local.rebar --force
  - mix deps.get

test_script:
  - mix coveralls --trace
