name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Elixir ${{ matrix.elixir }}
    runs-on: ubuntu-latest
    container:
      image: elixir:${{ matrix.elixir }}
    strategy:
      fail-fast: false
      matrix:
        elixir:
        - '1.14'
        - '1.13'
        - '1.12'
        - '1.11'
        - '1.10'
        - '1.9'
        - '1.8'
        - '1.7'
        - '1.6'
        - '1.5'

    steps:
      - uses: actions/checkout@v2

      - name: Setup Environment
        run: |
          epmd -daemon
          mix local.hex --force
          mix local.rebar --force
          mix deps.get

      - name: Run Tests
        run: mix test --trace

  coverage:
    name: Coverage
    runs-on: ubuntu-latest
    container:
      image: elixir:1.14
    env:
      MIX_ENV: cover
    steps:
      - uses: actions/checkout@v2

      - name: Setup BEAM
        uses: erlef/setup-beam@v1
        with:
          elixir-version: '1.13'
          otp-version: '24.3'

      - name: Setup Environment
        run: |
          epmd -daemon
          mix local.hex --force
          mix local.rebar --force
          mix deps.get

      - name: Generate Coverage
        run: mix coveralls.github
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  lint:
    name: Linting
    runs-on: ubuntu-latest
    container:
      image: elixir:1.14
    steps:
      - uses: actions/checkout@v2

      - name: Setup Environment
        run: |
          epmd -daemon
          mix local.hex --force
          mix local.rebar --force
          mix deps.get

      - name: Validate Formatting
        run: mix format --check-formatted

      - name: Validate Linting
        run: mix credo --all --format=oneline
